body {
	background: url(../img/pattern.jpg) repeat;
	font-family: 'Vollkorn', serif;
}

h1.title {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	color: #333;
	font-size: 30pt;
	top: 100px;
}

.receipt {
	width: 500px;
	margin: 200px auto;
}

.holes {
	width: 100%;
	height: 39px;
	background: url(../img/hole.svg) repeat-x;
}

.shopping-list {
	list-style-type: none;
	background: white;
	padding: 0;
}

.shopping-list li {
	padding: 20px 0;
	font-size: 20pt;
	border-bottom: 1px solid #eee;
}

.shopping-list li .row {
	padding-left: 20px;
}

.shopping-list li.new .row {
	padding-left: 0;
}

.shopping-list li.new {
	padding: 0;
	height: 79px;
}

.input-lg {
	height: 79px;
	border: none;
	border-radius: 0;
	font-size: 20pt;
	padding: 0 20px;
}

.shopping-list li.new .row .col-md-8,
.editing .shopping-list li .row .col-md-8 {
	padding-right: 0;
}

.shopping-list li.new .row .col-md-4,
.editing .shopping-list li .row .col-md-8 {
	padding-left: 0;
	border-left: 1px solid #eee;
}

.delete {
	color: #bbb;
	left: -25px;
	cursor: pointer;
}

.delete:hover {
	color: #333;
}

.delete:focus, .delete:active {
	color: black;
}

.edit {
	display: none;
}

.shopping-list li.editing {
	padding: 0;
}

.editing .edit {
	display: block;
}

.editing .note {
	display: none;
}
