<!doctype html>
<html lang="en" ng-app="dcka">

<head>
  <meta charset="utf-8">
  <title>DCKA14 Einkaufszettel</title>
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/app.css" />
</head>

<body ng-controller="NoteCtrl">
  <h1 class="title">Einkaufszettel</h1>
  <div class="receipt">
    <div class="holes"></div>
    <ul class="shopping-list">
      <li ng-repeat="note in notes" ng-class="{editing: editing == note}">
        <div class="row note" ng-dblclick="edit(note)">
          <div class="col-md-8 item">{{note.item}}</div>
          <div class="col-md-3 amount">{{note.amount}}</div>
          <div class="col-md-1 delete" ng-click="deleteNote(note)">✔</div>
        </div>
        <div class="row edit">
          <div class="col-md-8 item">
            <input ng-model="note.item" type="text" placeholder="Was?" class="form-control input-lg">
          </div>
          <div class="col-md-4 amount">
            <form ng-submit="doneEditing(note)">
              <input ng-model="note.amount" type="text" placeholder="Wieviel?" class="form-control input-lg">
            </form>
          </div>
        </div>
      </li>
      <li class="new">
        <div class="row">
          <div class="col-md-8 item">
            <input ng-model="newNote.item" type="text" placeholder="Was?" class="form-control input-lg">
          </div>
          <div class="col-md-4 amount">
            <form ng-submit="createNote(newNote)">
              <input ng-model="newNote.amount" type="text" placeholder="Wieviel?" class="form-control input-lg">
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/lodash.min.js"></script>
  <script src="lib/restangular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>

</html>
